<template lang="pug">
    #side-menu.side-nav(:class='{sidenavopen: opened}')
        a(href='#') Home
        a(href='#') About
        a(href='#') Services
        a(href='#') Contact
</template>

<script>
    export default {
        name: 'Sidebar'
    }
</script>

