<template lang="pug">
  div.customCheckbox
    label
      input(type="checkbox" :placeholder="placeholder" :value="value" :class="CClass == null ? 'MyClass' : CClass")
      span.indicator

</template>

<script>
  export default {
    props:[
      'placeholder',
      'value',
      'CClass',
      'id'
    ]
  }
</script>

<style lang="sass" scoped>
  .customCheckbox
    position: relative
    display: inline-block
    width: 50px
    height: 20px
    border-radius: 25px
    label
      display: inline-block
      height: 100%
      width: 100%
      cursor: pointer
      position: relative
      z-index: 1
    input
      width: 0
      height: 0
      opacity: 0
      z-index: -1
    input:checked + .indicator
      border: 1px solid #e86f6f
      background-color: #e86f6f

    input:checked + .indicator:before
      border: 1px solid $red
      left: 29px
    .indicator
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      border: 1px solid rgba(154,154,154, 0.5)
      border-radius: 25px
      @include tr0-3
    .indicator:before
      content: ''
      position: absolute
      display: inline-block
      top: 50%
      left: 0
      transform: translateY(-50%)
      width: 25px
      height: 25px
      border-radius: 50%
      background-color: $red
      z-index: 2
      @include tr0-3


</style>
