<template lang="pug">
  div.InputBlock
    input(type="text" placeholder="car" value="" id="" name="" class="")
    // span.ErrorMsg Ошибка инпута
</template>

<script>
  export default {

  }
</script>

<style lang="sass" scoped>
  .InputBlock
    input
      border: 1px solid rgba(125, 142, 223, 0.5)
      width: 100%
      height: 40px
      font-size: 14px
      padding: 0 15px
      outline: none !important
      @include tr0-3
      &:focus
        border: 1px solid rgba(125, 142, 223, 0.9)
    .ErrorMsg
      color: $red
      font-size: 12px
</style>
