
header
    @include bs2-2-2

    ul
        padding: 0
        margin: 0
        @include flex
        list-style: none
        li
            a, button
                &.nuxt-link-exact-active
                    color: #058dc7
                color: $black
                font-size: 15px
                cursor: pointer
                display: inline-block
                @include tr0-3
                @include p20()
                background: none
                border: 0
                text-decoration: none
                &:hover
                    color: #058dc7
                &:focus
                    outline: 0
