.modal
  z-index: -1
  opacity: 0
  @include flex
  transition: opacity .15s linear
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  @include flexAC
  @include flexJC
  background-color: rgba(0, 0, 0, 0.5)
  &.m-open
    opacity: 1
    z-index: 999
  .modalClose
    position: absolute
    top: 10px
    right: 10px
    width: 30px
    height: 30px
    background-image: url(~static/svg/close.svg)
    background-repeat: no-repeat
    background-position: center
    -webkit-background-size: 100%
    background-size: 100%
    cursor: pointer
    @include tr0-3
    &:hover
      transform: rotate(60deg)
  .modalContent
    max-width: 900px
    flex: 1
    background-color: #fff
    @include br2
  .modalHeader
    @include p10
  .modalBody
    @include p10
    border-top: 1px solid $darkBlueOp
    border-bottom: 1px solid $darkBlueOp
    max-height: 60vh
    overflow: auto
  .modalFooter
    @include p10
  h2
    font-size: 20px
    color: #000
  p
    font-size: 16px
    color: #000
  @media (max-width: 960px)
    .modal
      .modalContent
        margin: 0 5px
