.notification
  &.n-open
    right: -2px
  position: fixed
  top: 10vh
  @include p10
  @include tr0-3
  @include br2
  max-width: 300px
  min-width: 200px
  right: -100%
  font-size: 14px
  background-color: $darkBlue
  color: #fff
