<template lang="pug">
    header
        .container
            ul
                li
                    NLink(to="/") Главная
                li
                    NLink(to="/auth") Авторизация
                li
                    NLink(to="/dashboard") Dashboard
                li
                    button(v-on:click="logout") Выход
</template>

<script>
    export default {
        name: 'Header',
        methods: {
            logout() {
                this.$store.dispatch('auth/logout')
                this.$router.push('/')
            },
        }
    }
</script>

