<template lang="pug">
    div(style='margin-top: 100px')
        .container
            form.form-signin(role='form')
                h2.form-signin-heading Please sign in
                input.form-control(type='text', v-model='auth_username' placeholder='user name', required='', autofocus='')
                input.form-control(type='password', v-model='auth_password' placeholder='Password', required='')
                button.btn.btn-lg.btn-primary.btn-block(type='button', v-on:click="signIn")  Sign in
            div
                p {{ this.$store.getters['auth/getToken'] }}
</template>

<script>

    export default {
        data() {
            return {
                auth_username: '',
                auth_password: ''
            }
        },
        middleware: ['blocked'],
        methods: {
            async signIn() {
                const result = await this.$store.dispatch('auth/login', {
                    username: this.auth_username.replace(/ /g, ''),
                    password: this.auth_password
                })

                if (result['success']) {
                    // console.log(result);
                    this.$router.push('/dashboard')
                } else {
                    //this.$pushErrors(this, result['response'].data)
                    // console.log(result);
                }
            }
        }
    }
</script>
