html
    font-family: 'Roboto', sans-serif
    font-size: 16px
    word-spacing: 1px
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    box-sizing: border-box

    a
        transition: all 0.3s

    *,
    *:before,
    *:after
        box-sizing: border-box
        margin: 0
        padding: 0

    .container
        max-width: 1200px
        padding: 0 15px
        margin: 0 auto

    @media (max-width: 960px)
        .container
            padding: 0 5px

    .page-enter-active, .page-leave-active
        transform: scale(1)
        transition: 0.2s
        opacity: 1

    .page-enter, .page-leave-active
        transform: scale(0.87)
        opacity: 0

img
    max-width: 100%
    
*
    color: #000
    font-size: 14px

.material-icons
    vertical-align: middle
    
.btn
    border: 1px solid #058dc7
    font-size: 16px
    text-decoration: none
    background: #e6f4fa
    color: $darkBlue
    padding: 10px 25px
    line-height: 16px
    transition: all 0.3s
    &:hover
        background: #add7e9

h1
    font-size: 42px
    text-align: center
    color: $darkBlue
    font-family: 'Roboto', sans-serif
    font-weight: 500
    @include m20

@import 'componets/modal.sass'
@import 'componets/notification.sass'
@import 'componets/header.sass'
.main-page
    min-height: calc(100vh - 60px)
    display: flex
    justify-content: center
    flex-flow: column
    center
        @include p10
        color: $red

        br
            font-size: 20px

        h1
            font-size: 42px
            text-align: center
            color: $darkBlue
            font-family: 'Roboto', sans-serif
            font-weight: 500
            @include m20
        h2
            font-size: 24px
            color: $darkBlue
            @include m20
        .flex
            @include flexGrid

            > div
                @include grid4

                .item
                    font-size: 14px
                    background-color: $darkBlue
                    color: #fff
                    @include p10

.row
    display: flex
    justify-content: space-between
    margin-bottom: 30px
    .col4
        width: 33.3%
    .col8
        width: 66.6%
    &.right
        text-align: right
    h4
        font-size: 24px
        color: $darkBlue
    .btn
        display: inline-block
        margin: 0 5px
        &.active
            background: #058dc7
            color: #fff


.outlets
    display: flex
    justify-content: flex-end
    list-style: none
    overflow: hidden
    margin: 0
    li
        width: 49%
        margin: 0 2% 10px 0
        padding: 10px
        color: $darkBlue
        border: 1px solid #058dc7
        background: #e6f4fa
        .red
            color: red
        &:nth-child(2n)
            margin-right: 0
        span
            font-size: 14px
            display: block
            margin-bottom: 10px
        p
            margin-bottom: 10px
            font-size: 14px
            overflow: hidden
            button
                width: 26px
                height: 26px
                padding: 0
                line-height: 26px
                background: #fff
                position: relative
                i
                    vertical-align: top
                    font-size: 36px
                    font-weight: 700
                    color: green
                    position: absolute
                    top: -7px
                    left: -4px
                &:hover
                    cursor: pointer
            span
                font-size: 14px
                font-weight: 500
                float: right
                margin: 0
