<template lang="pug">
    div.page
        Header
        //Sidebar
        div
            nuxt

        <!--Modal(:idModal="'modal1'" v-for="index in 10" :key="index")-->
            <!--.modalHeader-->
                <!--h2 Header modal-->
            <!--.modalBody-->
                <!--p(v-for="index in 50" :key="index") Modal Body-->
            <!--.modalFooter-->
                <!--h2 Modal Footer-->

        <!--Notification-->
        <!--p(@click="click") кнопка-->
        <!--p(@click="clickModal") Модалка-->
</template>

<script>
    import Header from '~/components/Header.vue'

    // import Modal from '~/components/modal/Modal.vue'
    // import Notification from '~/components/notification/Notification.vue'

    //import Sidebar from '~/components/sidebar/Sidebar.vue'

    export default {
        // data: {
        //     opened: false
        // },
        components: {
            Header,
            //Sidebar
            //SidebarMenu
            // Modal,
            // Notification,
            //SidebarMenu
        },
        // methods: {
        //     click() {
        //         this.$nuxt.$emit('NOTIFY', 'hello rasul')
        //     },
        //     clickModal() {
        //         this.$nuxt.$emit('modalOpen', 'modal1')
        //     }
        // }

    }
</script>

<style lang="sass">
    .page
        position: relative
        overflow: hidden

        p
            font-size: 12px

</style>
