<template lang="pug">
    section
        center
            img(src="~/static/jpg/vuejs-logo.jpg")
            Slider
</template>

<script>
    import Slider from '~/components/about/Slider'

    export default {
        components: {
            Slider
        }
    }
</script>

<style lang="sass">

</style>
