<template lang="pug">
    .modal(:id="idModal" :class="className")
        .modalClose(@click="closeModal")
        .modalContent
            slot


</template>

<script>
    export default {
        components: {},
        props: [
            'idModal'
        ],
        data() {
            return {
                className: ''
            }
        },
        mounted() {
            this.$nuxt.$on('modalOpen', (id) => {

                if (this.idModal === id) {
                    this.className = 'm-open'
                } else {
                    this.className = ''
                }
            })
        },
        methods: {
            closeModal() {
                this.className = ''
            }
        }

    }
</script>

<style lang="sass">

</style>
