<template lang="pug">
    section.main-page
        center
            <!--img(src="~/static/jpg/vuejs-logo.jpg")-->
            h1 Добро пожаловать в
                br
                | в Lite CRM!
            h2 Отслеживание посетителей в реальном времени!
            NLink(to="/auth").btn Вход/Авторизация
        .container
            form
            <!--.flex-->
                <!--div(v-for="index in 20" :key="index")-->
                    <!--.item 1-->

</template>

<script>
    import Logo from '~/components/Logo.vue'
    import Checkbox from '~/components/form/Checkbox.vue'
    import Input from '~/components/form/Input.vue'

    export default {
        components: {
            Logo,
            Checkbox,
            Input
        }
    }
</script>

