@mixin bs2-2-2()
  -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.2)
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2)

@mixin bs3-3-3()
  -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.3)
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.3)

@mixin bs4-4-4()
  -webkit-box-shadow: 0 0 4px 4px rgba(0,0,0,0.4)
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.4)
