<template lang="pug">
    .container
        h1 График посещений
        .row
            .col4
                h4 Мои объекты:
            .col8
                ul.outlets
                    li(v-for="(device, key) in devices")
                        p(:class="{ red: active }")
                            button(v-on:click="loadChartDay(device.id, '16.05.2019')", @click="active = !active", :aria-pressed="active ? 'true' : 'false'").btn
                                i.material-icons done
                            | Объект № {{ device.id }}
                        p Идентификатор объекта:
                            span {{ device.device_id }}
                        p Адрес:
                            span {{ device.object.title }}
                        p Название точки:
                            span {{ device.place_title }}

        .row.btns-group
            .col4
                h4 Всего посетителей за:
            .col8.right
                a(href='#').btn.active За день
                a(href='#').btn За неделю
                a(href='#').btn За месяц
        hr
        div.charts
            <!--ChartDay(:chart_data="chartDay" v-if="chartDay !== null")-->
            ChartWeek(:chart_data="chartDay" v-if="chartDay !== null")



</template>

<script>
    import ChartDay from '~/components/charts/ChartDay'
    import ChartWeek from '~/components/charts/ChartWeek'

    export default {
        name: 'index',
        components: {
            //ChartDay,
            ChartWeek
        },
        data: function() {
            return {
                chartDay: null,
                chartWeek: null,
                chartMonth: null,
                mode: 'week', // week month
                active: false
            }
        },
        middleware: ['authenticated'],
        methods: {
            // logout() {
            //     this.$store.dispatch('auth/logout')
            //     this.$router.push('/')
            // },
            // toggleClass: function(){
            //
            //     if(this.isActive){
            //         this.isActive = false;
            //     }else{
            //         this.isActive = true;
            //     }
            //
            // },
            async loadChartDay(deviceId, date) {
                const day = await this.$api('get', `/charts/${this.mode}?date=${date}&device_id=${deviceId}`)
                this.chartDay = null

                this.$nextTick(function() {
                    this.chartDay = day['response']
                })
            }
        },
        async asyncData({ params, app }) {
            const devices_list = await app.$api('get', '/account/devices')
            // console.log(devices_list)
            return {
                devices: devices_list['response'].results
            }
        },
        async mounted() {
            if (this.devices.length > 0) {
                let device = this.devices[0]
                this.loadChartDay(device.id, '16.05.2019')
            }
        }
    }
</script>

<style scoped lang="sass">

    .charts
        width: 800px
        height: 700px
        margin: 0 auto 200px


</style>
