<template lang="pug">
  div(class="notification" :class="className") {{ text }}
</template>

<script>
  export default {
    components: {
    },
    data() {
      return {
        text: 'default text',
        className: ''
      }
    },
    mounted() {
      this.$nuxt.$on('NOTIFY', (text) => {
        this.text = text
        this.className = 'n-open'
        setTimeout(() => {
          this.className = ''
        }, 1000)
      })
    }
  }
</script>

<style lang="sass">

</style>
